<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>313161260839-v7fkrd0kghn5ogk88kt5kbd5qcugblif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313161260839-v7fkrd0kghn5ogk88kt5kbd5qcugblif</string>
	<key>API_KEY</key>
	<string>AIzaSyARP_O-lNbXrdMw8VioaUr1oLWZXr5qN7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>313161260839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.multiApp.H2HSDKIntegrationSample</string>
	<key>PROJECT_ID</key>
	<string>h2hhackathon-48f23</string>
	<key>STORAGE_BUCKET</key>
	<string>h2hhackathon-48f23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:313161260839:ios:a956959b170900d3</string>
	<key>DATABASE_URL</key>
	<string>https://h2hhackathon-48f23.firebaseio.com</string>
</dict>
</plist>